$primary: #2ad1b8;
$grey: #424242;
$grey-light: #616161;
$grey-dark: #212121;

.color {
  color: $primary;
}

.Contact {
  //section {
  //  scroll-snap-align: start;
  //  scroll-snap-type: y proximity;
  //}

  /* ff 3.6+ */
  //background: -moz-radial-gradient(circle at 50% 100vh, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  //
  ///* safari 5.1+,chrome 10+ */
  //background: -webkit-radial-gradient(circle at 50% 100vh, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  //
  ///* opera 11.10+ */
  //background: -o-radial-gradient(circle at 50% 100vh, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  //
  ///* ie 10+ */
  //background: -ms-radial-gradient(circle at 50% 100vh, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  //
  ///* global 92%+ browsers support */
  //background: radial-gradient(circle at 50% 100vh, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: #c7c7c7;

  .top {
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-top: 100px;
    padding-bottom: 20px;

    & > div {
      display: flex;
      justify-content: space-between;

      .text {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 80px;
        }

        .quote {
          font-size: 30px;

          .color {
            color: $primary;
            filter: drop-shadow(0 0 4px #000000);
          }
        }
      }

      img {
        width: 400px;
        height: auto;
      }
    }

    .MuiButton-root {
      width: 130px;
      margin: auto;

    }
  }

  .body {
    display: flex;
    border-radius: 30px 30px 0 0;
    background-color: $grey;
    justify-content: space-evenly;
    //min-height: 500px;
    padding: 1px;

    & > section {
      //scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      //align-items: flex-start;
      //justify-content: center;
      margin: 20px;
      background-color: $grey-light;
      border-radius: 20px;
      padding: 20px;
      div{
        color: white;
        font-size: small;
      }
      .heading{
        color: $primary;
        font-size: x-large;
      }
    }
  }


}

@media screen and (max-width: 800px) {
  .superpowers {
    flex-direction: column;
  }
  .top > div {
    flex-direction: column;
  }
}