$primary: #2ad1b8;
$grey: #424242;
$grey-light: #616161;
$grey-dark: #212121;

#footer {

  display: flex;
  background-color: $grey-dark;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  .trustpilot-widget {
    width: 100%;
  }

  .cr {
    color: white;
    font-size: small;
    //font-weight: bold;
  }

  #flex {
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 30px 0;

    img {
      width: 2fr;
    }

    div {
      h2 {
        //margin: 0 10px;
        color: $primary;
      }
      a{
        text-decoration: none;
        color: white;
      }
      width: 1fr;
      display: flex;
      justify-content: center;
      //align-items: flex-start;
      flex-direction: column;
    }
  }
}