$primary : #2ad1b8;
$grey : #424242;

.color{
  color: $primary;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  //background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $primary;
  opacity: 0.1;
}